body{
    font-family: sans-serif;
    background-color:black;
    display: flex;

}
.app{
    max-width: 400px;
    display: flex;
    flex-grow: 1;
    margin: 20px auto;
    flex-direction: column;
    background-color:#66C2FE;
    border-radius: 10px;
    padding: 20px;
    
}
.addnew {
    display: flex;
    width: 100%;
    height: 45px;    
    align-items: center;
    justify-content: space-between;
}
.addnew input{
    width: 85%;
    height: 90%;
    outline: none;
    border: 1px solid white;
    font-size: 17px;
    border-radius: 5px;
    padding-left: 15px;
}
.addnew button{
    width: 50px;
    height: 100%;
    outline: none;
    border: none;
    padding: 6px;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    opacity: 0.6;
    /* pointer-events: none; */
}
/* .addnew button.active {
    opacity: 1;
    pointer-events: auto ;
} */
.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5px;
    border-bottom: 2px solid white;

}
.filters span{
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
}
.filters span.active {
    color:#4669A6;
}
.filters span:first-child{
    margin-left: 0px;
}
.controls .btn_clear {
    outline: none;
    border: none;
    color: antiquewhite;
    cursor: pointer;
    font-size: 15px;
    border-radius: 4px;
    padding: 7px 13px;
    background: #4669A6;
}
.task-box{
    width: 90%;
    align-self: center;
    padding: 0px;
} 
.task-box ul {
    /* height: 20px; */
    padding-left: 0;
    /* margin: 1px;
    margin-left: 10px; */
} 
.litask{    
    list-style: none;
    height: 45px;
    margin-top:15px ;
    background: #4669A6;
    border-radius: 10px;

}
.litask label{
    padding-top: 12px;
    height: 20px;
    display: flex;
}
.litask input{
    margin-left: 20px;
    outline: none;
    cursor: pointer;
    padding: 20px;
    
}

.litask p{
    width: 70%;
    flex: 3 0 auto;
    margin-top: 2px;
    padding: 0%;
}

.litask button{
    background-color: #4669A6;
    height: 25px;
    width: 25px;
    border: none;
    margin-right: 10px;
    margin-top: -2px;
    border-radius: 5px;
    cursor: pointer;
}
.litask .fa {
    margin-left: -3px;
    margin-top: -1px;
}